/* 값 초기화, 초기값 지정 */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
    /* class 요소가 가로로 정렬됩니다.. */
    display: flex;
    /* class 요소가 세로로 정렬됩니다,,! */
    /* flex를 붙여주면 세로 간격 조정에 용의 */
    flex-direction: column;
    /* 허용 길이를 넘어서는 요소는 숨깁니다 */
    overflow: hidden;
}

.user-container {
    background: #a9bdce;
    /* flex는 비율 조정이기 때문에 차근차근 해야해요 */
    flex: 1;
    display: flex;
    /* 가로 위치 왼쪽 start지점으로 이동 */
    justify-content: flex-start;
    /* 상하 위치 가운데로 이동 */
    align-items: center;
    padding: 0.5rem;
}

.user-container label {
    font-size: 14px;
    margin-right: 1rem;
}

.user-container input {
    border-radius: 3px;
    border: none;
    height: 100%;
}

.display-container {
    flex: 12;
    background: #b2c7d9;
    overflow-y: scroll;
}

.input-container {
    /* 기본 규격같은 건 input-container자체의 변화없이
    input-container span만으로 규정하기 어려움 */
    flex: 1;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.input-container span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.3rem;
    width: 100%;
}

.chatting-input {
    font-size: 12px;
    height: 100%;
    flex: 8;
    border: none;
}

.send-button {
    flex: 1;
    background: #ffeb33;
    border: none;
    height: 100%;
    /* 상자 각모양 좀 둥글게 만드는 거임 */
    border-radius: 3px;
}

.chatting-list li {
    width: 90%;
    padding: 0.3rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 0.5rem;
}

.profile {
    display: flex;
    /* flex-direction설정을 바꾸면 align-items와 justify-content의 역할도 바뀜
    다시 설정해줘야 합니다 ~ */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.profile .user {
    font-size: 10px;
    margin-bottom: 0.3rem;
}

.profile .image {
    /* 50% 동그라미 만드는 거임 */
    border-radius: 50%;
    object-fit: cover;
    width: 50px;
    height: 50px;
}

.message {
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 12px;
    margin: 0.5px;
    flex: 7;
}

.time {
    font-size: 10px;
    margin: 0.5px;
}

.sent {
    /* 메시지를 구성하는 모든 요소에 flex 속성을 주었기 때문에
    보다 간단하게 좌우반전을 해낼 수 있다 */
    flex-direction: row-reverse;
    /* 채팅창을 왼쪽부터 시작하도록
    flex-start를 주었었기 때문에 이를 바꿔줘야함 */
    float: right;
}

.sent .message {
    background: #ffeb33;
}
.received .message {
    background: #fff;
}


